.textSideBar {
  font-size: 16px;
}

.logoText {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoText p {
  font-size: 17px;
  font-weight: bolder;
  color: #fff;
}

.bgColor {
  color: #fff;
  background-color: #1976d2;
  /* background: linear-gradient(
    180deg,
    rgba(157, 14, 107, 1) 0%,
    rgba(231, 93, 178, 0.9262298669467787) 100%
  ); */
  /* height: 100vh; */
}

.containerMenuItem{
    /* padding: 10px; */
    line-height: 50px;
}

.item{
    padding: 0px 10px;
    color: #eaeaea;
    cursor: pointer;
}

.itemMenu{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: start;
  font-size: 18px;
  font-weight: 300;
  gap:10px;
}


.itemMenuIcon{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  font-weight: 300;
  padding:10px;
}



.item:hover{
  /* color: black; */
    /* background-color: #fcfcfc; */
    border-right: 6px solid rgb(21, 0, 60);
}

.itemMenuActive{
    background-color: #fff;
    color: black;
    border-right: 6px solid rgb(21, 0, 60);
}

